.navbar {
    background-color: #1b205a;
    box-shadow: 0 4px 6px #1b205a;
}

header #announcement {
    background-color: #70befa;
}

#announcement a {
    color: black;
}

.navbar-text {
    font-weight: 600;
    color: #ffffff;
}

.navbar .nav-link.active {
    color: #70befa;
}

.btn {
    background-color: #70befa;
    border: none;
    font-weight: 800;
}

.btn-hover,
.btn-focus {
    background-color: #ffffff;
}
