.navbar {
    background-color: #1b205a;
    box-shadow: 0 4px 6px #1b205a;
}

header #announcement {
    background-color: #70befa;
}

#announcement a {
    color: black;
    text-transform: uppercase;
}

.navbar-text {
    font-weight: 600;
    color: #ffffff;
}

.navbar .nav-link.active {
    color: #70befa;
}

.btn {
    background-color: #70befa;
    border: none;
    font-weight: 800;
    text-transform: uppercase;
}

.btn-hover,
.btn-focus {
    background-color: #ffffff;
}

#hero {
    background-color: #E7F8FF;
    height: 700px;
}

body {
    margin: 0;
}

/* img {
    align-self: right;
} */

/* header {
    position: sticky;
    top: 0;
} */

@media (min-width:768px) {
    
    #hero {
        position: relative;
    }

    .bg-image {
        position:absolute;
        left: 50%;
        width: 50%;
        height: 100%;
        padding: 0;
    }
}